.appContainer {
  height: 100%;
}

.appContent {
  height: calc(100% - 118px);
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0;
}

.netWorkInfo {
  position: relative;
  height: 100%;
}

.networkList {
  margin-top: 10px;
  height: calc(100% - 52px);
  overflow: auto;
}

.networkList .ant-list-sm .ant-list-item {
  padding: 4px 0;
}
.networkList .ant-list-sm.ant-list-split .ant-list-item {
  border-bottom: 1px solid #e9e9e9;
}

.networkList .ant-list-sm .ant-list-item .ant-tag{
  width: 60px;
  padding: 0 4px;
  text-align: center;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 64px;
}

.logo {
  color: #1890ff;
  font-size: 28px;
  color: #fff;
  height: 32px;
  line-height: 32px;
}

.appContainer > .appFooter {
  padding: 0;
}
.appContainer > .appFooter .ant-divider-plain.ant-divider-with-text {
  color: #999aaa;
}

